body{

    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRATdjwbdNhVhX-WBLAZ_LRlisFR7ymxdXVspQi_7NJRlTbMyHF);
    background-repeat: no-repeat;
    background-size: 100% 40%;
 
}
#intro{
    margin-top: 12%;
    margin-left: 52%;
    font-family: 'Bad Script', cursive;
    color: rgb(0,51,0);
}
#header{
    font-family: 'Fredericka the Great', cursive;
    font-size: 50px;
    
}
#hey{
    font-size: 70px;
    font-family:'Playball',cursive;
    margin-top: 50px;
}
#about{
    background-color: rgb(214,232,128);
    margin-top:15%; 
    margin-bottom: 0%;   
}

#img{
    height:350px;
    width:400px;
    float:left;
    margin-top:20px;
}

#lead{
    margin-left: 35%;
    margin-top:2.6%;
    font-size: 18px;
}

#aboutMe{
    font-family: 'Bungee Inline',cursive;
}
#contact{
    background-color: rgb(243,247,223);
    margin-bottom: 0%;
    margin-top: 0%;
    height: 520px;
    
}
#contactMe{
    font-family: 'Bungee Inline',cursive;
}
#lead2{
    margin-top: 4%;
}
#img2{
    height:300px;
    width:330px;
    float:left;
    margin-top:10px;
}
#links{
    margin-top: 5%;

}
#github{
    margin-right: 3%;
}
#facebook{
    margin-right: 3%;
}
